body {
  margin: 0;
  font-family: 'Merriweather', serif;
    text-align: center;

}

h1 {
  margin-top: 3.125rem;
  font-family: 'Sacramento', cursive;
  font-size:5.625rem; /* here 100% == 16px {we need 90px} */
  color: #1eae98;   /*  1em = 16px Note: both em and % will get added up if used in both body and h1(inside body) */
}                   /*  so use rem(root em) for heading.(Not get added up) */

h2 {
  font-family: 'Montserrat', sans-serif;
font-size: 2.2rem;
color: #1eae98;
}

h3 {
  font-family: 'Montserrat', sans-serif;

  color: #11999E;

}
p {
  line-height: 2;
  color: #40514E;
  font-weight: bold;
}


#first-heading {
  position: relative;
  bottom: 3.125rem;
  color: #1eae98;
  font-weight: normal;
}
.top-container {
  background-color: #E4F9F5;

  padding-top: 9.375rem;
  padding-bottom: 0

}
.profile {
  padding-top: 4.375em;
  padding-bottom: 3.125em;
  width: 30%;
  margin: auto;
}

.shiv-pic {
  height: 11.25em;
  width: 11.25em;
}
.skill-img {
  height: 25%;
  width: 25%;
float: left;     /*To clear right / left side use clear if floating is in place. */
padding-right: 1.875em;

}
.skill-img1 {
  height: 25%;
  width: 25%;
float: right;
padding-left: 1.875em;


}
hr {
  width: 7%;
  border-width:0.5625em;
  border-style: dotted;
  border-color:#c9d6df;
  border-top: 0;


}

.middle-container {

}

.bottom-container {
background-color: #66BFBF;
height: 12.5em;

}

span {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
}
.top-cloud {
  position: absolute;
  right: 25%;
  top: 12%;

}

.footer-link {
  color: #6639a6;
  position: relative;
  top: 4.375em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    margin-right: 1.25em;
    margin-left: 1.25em;
    text-decoration: none;

}
.footer-link:hover {
  color: #EAF6F6;
}
.skills {
  padding-top: 3.125em;
}

.skill-row {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8.125em;
  margin-bottom: 8.125em;
  text-align: left;
}
#tm {
  margin-bottom: 0;
  color: #EAF6F6;
  position: relative;
  top: 5.9375em;
}

.contact-message {
  width: 30%;
  margin: 3.125em auto 3.375em;
}

.contact-me {
  margin: 6.25em auto 3.125em;
}

.btn {
  background: #06bda2;
  background-image: -webkit-linear-gradient(top, #06bda2, #089ca1);
  background-image: -moz-linear-gradient(top, #06bda2, #089ca1);
  background-image: -ms-linear-gradient(top, #06bda2, #089ca1);
  background-image: -o-linear-gradient(top, #06bda2, #089ca1);
  background-image: linear-gradient(to bottom, #06bda2, #089ca1);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
